.visit_latvia{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-weight: bolder;
    letter-spacing: 2px;
    color: brown;
  }
  #logo-block{
    border: solid 3px brown;
    margin: 5px;
    width: 100%;
   }
 #articles{
    position: absolute;
    top: 40%;
    text-align: left;
 }
 .whereToGo{
    position: absolute;
    top: 40%;
    text-align: left;
 }
 #register{
    position: absolute;
    top: 40%;
    text-align: left;
 }
 .img{
    width: 100%;
    height: 400px;
 }
 #blank{
   margin: 10px;
 }
p{
   font-weight: bolder;
 }
 
 
